.container
  .section
    .row
      .col.s12
        %h3
          Employer Benefits
        %h6
          Why should you hire a veteran? Here are just some of the benefits to employing veterans:
        %br

        %h5 Team player
        %p.indent Military veterans are trained on the vital importance of teamwork. From the beginning of their training, it is all about being part of a team. There is no bigger example of teamwork than placing your life in your teams hands.
        %h5 Goal oriented
        %p.indent The mission is everything in the military. Veterans are trained to reach their goals and to accomplish their mission.
        %h5 Trained leaders
        %p.indent Veterans learn leadership starting with their initial training. As they rose up the ranks, responsibilities were increased and they were required to lead others.
        %h5 Strong work ethic
        %p.indent Veterans know what hard work is. 
        %h5 Ability to adapt
        %p.indent The USMC has an 'unofficial' saying: 'Improvise, Adapt and Overcome'
        %h5 Get the job done
        %p.indent Veterans are trained to not give up until the mission is complete. Once a task is assigned they do whatever it takes to get it done. 
        -# %h5
        -#   Strong sense of responsibility
        -# %h5
        -#   Ability to work hard and under pressure
        -# %h5
        -#   Background checks and security clearances
        -# %h5
        -#   Ability to learn new skills fastrate:down VERSION=20180414232354