%footer.page-footer.blue
  .container
    .row
      .col.s12
        %h5.white-text About Us
        %p.grey-text.text-lighten-4 We are a U.S. Veteran owned and operated business. Our desire is to assist our veterans in making the transition back to the civilian life and provide employers a place to hire military veteran programmers.
      -# .col.l6.s12
      -#   %h5.white-text Connect
      -#   %ul
      -#     %li
      -#       %a.white-text{:href => "#!"} Link 1
      -#     %li
      -#       %a.white-text{:href => "#!"} Link 2
      -#     %li
      -#       %a.white-text{:href => "#!"} Link 3
  .footer-copyright
    .container
      .row
        .col.sm6
          &copy; Copyright 2017 VetCodingJobs.com
        .col.sm6.right
          = image_tag "vet.jpg"
